.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    font-size: large;
}

.navbar ul li {
    cursor: pointer;
    padding: 5px 15px;
    border: 2px solid rgb(119, 12, 219);
    border-radius: 5px;
}

.active {
    background-color: rgb(23, 16, 220);
}