.navbar {
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
    font-size: large;
    color: white;
}

.navbar ul li {
    cursor: pointer;
    padding: 5px 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
}

.navbar ul a{
    color: white;
    text-decoration: none;
    padding: 10px;

}

.active {
    background-color: hsl(45, 100%, 51%);
    font-size: large;
}


